<form #myForm="ngForm" (ngSubmit)="submitForm(myForm)" >
    <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput name="name" ngModel required>
  </mat-form-field>

  <button type="submit" [disabled]="myForm.invalid">Submit</button>

</form>


<form #replyForm="ngForm">
<mat-form-field>
  <mat-label>Textarea</mat-label>
  <textarea matInput
  name="message"
  [(ngModel)]="reply"
  [readonly]="true"
  ></textarea>
  <mat-icon fontIcon="email"
  ></mat-icon>
</mat-form-field>

</form>